h1{
    font-family:georgia, serif;
	  color:#483D8B;
	  font-size:50px;
	  letter-spacing:0.1em;
	  line-height:200%;
	  padding-top:11px;
}
body{
    background-color: black;
}
.box2{
    background-color: aqua;
}
